@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

:root {
	--primary--color: rgb(92 86 75);
	--second--color: rgb(248 245 242);
	--third--color: #ffc26f;
	--fourth--color: #f9e0bb;
	--light--green: #f5f5f5;
	--black--green: #03001c;
	--footer: rgb(92 86 75);
	--text-size: clamp(16px, 13.1830985915px + 0.5633802817vw, 24px);
	--font-text: apercu, sans-serif;
}

@font-face {
	font-family: apercu;
	src: url(fonts/Apercu-Font/Apercu\ Pro\ Bold.otf);
}
@font-face {
	font-family: allenoire;
	src: url(fonts/allenoire/otf/allenoire-allenoire-regular-400.otf);
}
@font-face {
	font-family: pacifico;
	src: url(fonts/pacifico/Pacifico.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* nav */
body {
	background-color: var(--second--color);
	position: relative;
}

.nav {
	width: 100%;
	/* height: 7vh; */
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	transition: all ease 0.5s;
	z-index: 2;
}
.scroll-down {
	transform: translate3d(0, -37%, 0);
}

.nav-top {
	width: 100%;
	height: 7vh;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 4em;
	background-color: var(--footer);
	font-family: apercu;
	font-family: "Poppins", sans-serif;

	color: #e7e7e7;
}
.nav-top .socials {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.nav-top .socials a {
	color: rgb(248 245 242);

	/* color: blue; */
}
.nav-top .socials a:nth-child(2) {
	/* color: rgb(255, 0, 200); */
}
.nav-top .socials a:nth-child(3) {
	/* color: black; */
}
.line {
	/* height: 100%; */
	width: 2px;
	background-color: var(--fourth--color);
}
.nav-bot {
	width: calc(100% - 8em);
	margin: auto;
	border-bottom: 2px solid black;
	/* padding: 1em 4em; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 12vh;

	background-color: var(--second--color);
}
.logo {
	background-color: var(--second--color);
	padding: 1em;
	z-index: 999;
	border-radius: 50%;
	margin-top: 100px;
}
.bot-item {
	font-size: 16px;
	text-transform: uppercase;
}
.bot-item-res {
	display: none;
}
.bot-item-res-r {
	width: 200px;
	text-align: end;
}
.bot-item a {
	text-decoration: none;
	margin: auto 5px;
	color: #03001c;
}
.logo-text {
	font-family: "Poppins", sans-serif;
	text-decoration: none;
	color: #03001c;
	width: 200px;
	/* background-color: red; */
}
.menu {
	font-family: "Poppins", sans-serif;
}
/* main */

.main {
	padding: 18em 4em;
	width: 100%;
	/* height: 200vh; */
	/* background-color: blueviolet; */
}
.location {
	/* background-color: yellow; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2em;
}
.location-nth {
	width: 400px;
	border: 1px solid black;
	z-index: 1;
}
.location-nth .img {
	position: relative;
	height: 300px;
	overflow: hidden;
}
.location-nth img {
	width: 100%;
	height: 100%;
	transition: 0.4s;
}
.location-nth .img:hover img {
	transform: scale(1.2);
}
.location-nth .img:hover .name-img {
	text-decoration: underline;
	/* color: red; */
	transition: 1s;
	transform: translate(10px, 0, 0);
}
.name-img {
	position: absolute;
	bottom: 1em;
	left: 1em;
	font-size: 16px;
	font-family: allenoire;
	color: var(--light--green);
}
.img-bot {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: red; */
	height: 80px;
	color: var(--primary--color);
}
.info-img {
	padding: 1em;
	height: 100%;
	/* background-color: #ffc26f; */
	/* display: flex; */
	flex: 1;
	flex-direction: column;
	gap: 10px;
}
.info-img p {
	font-size: 14px;
	font-family: "Poppins", sans-serif;
}
.btn {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	/* flex: 1; */
	padding: 1em;
	font-family: allenoire;
	gap: 10px;
	/* background-color: blueviolet; */
	border-left: 1px solid black;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
	color: #e7e7e7;
	text-decoration: none;
}
.btn ion-icon {
	color: #03001c;
}
.btn::before,
.btn::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.btn span {
	position: relative;
	mix-blend-mode: difference;
}

.btn::before {
	color: #03001c;
	content: "";
	background: #e7e7e7;
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn:hover::before {
	transform: translate3d(100%, 0, 0);
}
.btn:hover {
	background-color: #03001c;
	transform-origin: 0;
	cursor: pointer;
	color: #e7e7e7;
}
.btn:hover ion-icon {
	color: #e7e7e7;
}
/* footer */
.footer {
	/* height: 70vh; */
	width: 100%;
	background-color: var(--footer);
	padding: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: rgb(185 179 174);
	font-size: 14px;
}
.footer hr {
	width: 100%;
	margin: 2em auto;
}
.content {
	width: 100%;
	height: 40vh;
	display: flex;
}

.content-1 {
	flex: 1;
	/* background-color: #f9e0bb; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}
.title-content-1 {
	font-size: 26px;
	color: rgb(248 245 242);
}
.group-content-1 {
	display: flex;
	flex-direction: row;
	gap: 2em;
}
.icon-content img {
	width: 50px;
	height: 50px;
}
.des-content-1 {
	width: 90%;
}
.content-2 {
	/* background-color: blueviolet; */
	flex: 1;
	/* background-color: #f9e0bb; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	/* gap: 2em; */
	border-left: 1px solid white;
	padding-left: 2em;
}
.content-2 a {
	/* width: 100%; */
	/* color: rgb(248 245 242); */
	color: #e7e7e7;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
	/* margin-right: 2em; */
	/* border-top: 1px solid white; */
}
.content-item-2 {
	display: flex;
	width: 90%;
	padding-right: 2em;
	justify-content: space-between;
	border-bottom: 1px solid white;
	padding-bottom: 1em;
	/* font-family: "Poppins", sans-serif; */
	/* color: rgb(248 245 242); */
}
.content-3 {
	/* background-color: burlywood; */
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	/* gap: 2em; */
	border-left: 1px solid white;
	padding-left: 2em;
	position: relative;
}

.list-content-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	gap: 2em;
}
.list-content-3 a {
	font-size: 14px;
	text-decoration: none;
	color: rgb(185 179 174);
}
.list-socials {
	position: absolute;
	top: 1em;
	right: 2em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.list-socials a {
	color: rgb(185 179 174);
}
.list-socials ion-icon {
	width: 20px;
	height: 20px;
	/* color: red; */
	padding: 1em;
	border-radius: 50%;
	border: 1px solid white;
}
.start ion-icon {
	font-size: 26px;
	color: #ffc26f;
}
.start ion-icon:first-child {
}
.start ion-icon:nth-child(2) {
	transform: translateY(-10px);
}
.start ion-icon:nth-child(3) {
	transform: translateY(-20px);
}
.start ion-icon:nth-child(4) {
	transform: translateY(-10px);
}
.start ion-icon:nth-child(5) {
}
.footer-bot {
	width: 100%;
	display: flex;
	/* background-color: red; */
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

/* expand */

.loader {
	height: 100vh;
	width: 100%;
	background-color: var(--primary--color);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #e7e7e7;
	gap: 2rem;
	font-size: 16px;
	font-family: allenoire;
}
.loader .icon {
	background-color: var(--second--color);
	padding: 1rem;
	z-index: 999;
	border-radius: 50%;
	margin-top: 100px;
}

.loading-screen {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	background-color: var(--primary--color);
	width: 0%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #e7e7e7;
	gap: 2rem;
	font-size: 16px;
	font-family: allenoire;
}

.load-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	pointer-events: none;
}

/* restaurant */

.restaurant {
	/* height: 100vh; */
	padding: 14em 4em;
	width: 100%;
	/* background-color: red; */
}

.video {
	width: 100%;
	height: 70vh;
	position: relative;
}
.video img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.video .title-video {
	font-size: 64px;
	position: absolute;
	bottom: 1em;
	left: 1em;
	color: white;
	font-family: allenoire;
	text-transform: uppercase;
}
/* text-intro */

.text-intro {
	font-size: 4vw;
	width: 100%;
	padding: 4em;
	/* border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* height: 50vh; */
}
.text-intro i img {
	width: 100px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
}

/* galery */
.galery {
	/* width: 80%; */
	/* background-color: red; */
	padding: 4em;
	height: 100vh;
	position: relative;
	margin: 8vh 0;
}
.galery-content {
	height: 100%;
	width: 50%;
	margin: auto;
	display: flex;
	gap: 2vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.galery-content h1 {
	font-size: 4vw;
	font-family: allenoire;
}
.galery-content h2 {
	font-size: 1.5vw;
	font-family: apercu;
	font-weight: 100;
}
.galery-content div {
	/* font-family: apercu; */
	text-align: center;
	width: 80%;
	font-size: 18px;
	font-family: "Jost", sans-serif;

	line-height: 2vw;
}

.galery-content a {
	font-family: "Jost", sans-serif;
	border-top: 1px solid black;
	/* font-family: apercu; */
	text-decoration: none;
	color: black;
	font-size: 24px;
	font-weight: 500;
}
.galery-text {
	font-family: allenoire;
	position: absolute;
	bottom: 5vw;
	right: 0;
	font-size: 8vw;
	color: rgb(238, 219, 132);
	z-index: -2;
	opacity: 0.8;
}
.galery-img-1 {
	position: absolute;
	top: 5vw;
	right: 100px;
	width: 300px;
	z-index: -1;
	object-fit: cover;
	height: 400px;
	opacity: 0.6;
}
.galery-img-2 {
	opacity: 0.6;
	position: absolute;
	top: 0vw;
	z-index: -1;
	left: 100px;
	width: 350px;
	object-fit: cover;
	height: 500px;
}
/* .galery-img-3 {
	opacity: 0.8;
	position: absolute;
	top: 20vw;
	left: 0px;
	width: 300px;
	object-fit: cover;
	z-index: -1;
	height: 200px;
} */
.galery-img-4 {
	opacity: 0.6;
	position: absolute;
	bottom: 2vw;
	left: 300px;
	width: 400px;
	object-fit: cover;
	height: 200px;
	z-index: -1;
}

/* list menu */
.list-menu {
	height: 100vh;
	/* background-color: pink; */
	padding: 4em;
	/* border: 1px solid black; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.info-menu {
	display: flex;
	flex: 1;
	/* background-color: #f9e0bb; */
	height: 100%;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.list-top ion-icon {
	color: #ffc26f;
}
.list-title {
	font-size: 32px;
	font-family: allenoire;
	width: 50%;
	text-align: center;
}
.img-menu {
	display: flex;
	flex: 1;
	height: 100%;
	justify-content: center;
}
.list-des {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	width: 60%;
	line-height: 200%;
	word-spacing: 2px;
}
.list-box {
	height: 200px;
	font-size: 14px;
	width: 60%;
	border: 0.1px solid black;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	/* align-items: center; */
}
.box-info {
	display: flex;
	flex: 1;
	/* border: 0.1px solid black; */
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	padding-left: 2em;
	font-family: "Poppins", sans-serif;
}

.reserve,
.checkout {
	border-top: 0.1px solid black;
	display: flex;
	flex: 1;
	align-items: center;
	padding-left: 2em;
	text-decoration: none;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	color: #03001c;
}
.img-menu img {
	width: 30vw;
	height: 100%;
	object-fit: cover;
}

.list-img {
	/* display: flex; */
	/* width: 100%; */
	overflow: hidden;
	gap: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-img img {
	width: 26vw;
	height: 40vw;
	object-fit: cover;
}

/* booking */

.booking {
	margin-top: 10vh;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #e7e7e7;
	position: relative;
	/* border-radius: 20px; */
	border-radius: 20px;
}
.fire {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.fire img {
	border-radius: 20px;
	/* opacity: 0.8; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -2;
}
.book-left {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	z-index: 1;
	color: #e7e7e7;
	gap: 4em;
	padding-left: 4em;
	/* background-color: blue; */
}
.book-head {
	font-size: 14px;
	font-family: allenoire;
}
.book-title {
	z-index: 1;
	color: #e7e7e7;
	font-family: allenoire;
	font-size: 64px;
	text-align: start;
}
.btn-book {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	border: 1px solid white;
	padding: 1em 2em;
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	color: #e7e7e7;
	font-weight: bold;
	/* background-color: red; */
	text-decoration: none;
}

.book-right {
	flex: 1;
	display: flex;
	width: 100%;
	/* background-color: green; */
	overflow: hidden;
	height: 100%;
}
.book-right img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	z-index: 1;
}

.book-right img:first-child {
	transform: scale(1.5) rotate(-10deg) translate(70px, 150px);
	z-index: 1;
	border-radius: 20px;
	border: 2px solid white;
}
.book-right img:nth-child(2) {
	border: 2px solid white;
	border-radius: 20px;
	z-index: 0;
	transform: scale(2) rotate(2deg) translate(10px, 100px);
}

/* text movement */
